%table.table.table-condensed
  %tbody
    %tr
      %td= "First name:"
      %td= user.first_name
    %tr
      %td= "Last name:"
      %td= user.last_name
    %tr
      %td= "Total payments:"
      %td= user.payments.sum(:value)
-if user == current_user
  = link_to 'Edit user', edit_user_path(user), class: 'btn btn-default'

-if user.projects.any?
  %h2 Your projects
  %table.table.table-striped
    %thead
      %tr
        %th Project name
        %th Project description
        %th Current funds
        %th Project goal
        %th Expires at
        %th Edit
    %tbody
      -user.projects.each do |p|
        %tr
          %td= p.name
          %td= p.description
          %td= number_to_currency(p.current_funds)
          %td= number_to_currency(p.goal)
          %td= p.finish_date
          -if p.owner == current_user
            %td= link_to 'Edit', edit_project_path(p)

-if user.paid_projects.any?
  %h2 Your contributions
  %table.table.table-striped
    %thead
      %tr
        %th Project name
        %th Description
        %th Your contribution
    %tbody
      -user.paid_projects.uniq.each do |p|
        %tr
          %td= p.name
          %td= p.description
          %td= number_to_currency(p.payments.by(user.id).sum(:value))
