%td= link_to project.name, project
%td= project.description
%td= project.finish_date.to_s.chomp(" UTC")
%td= number_to_currency(project.goal)
%td= number_to_currency(project.current_funds)
%td= project.decorate.percent_funds_raised
%td
  %i{ class: 'status status-' + project.status }
