%td= link_to project.name, project
%td= project.description
%td= cents_to_dollars(project.goal)
%td= cents_to_dollars(project.current_funds)
<<<<<<< Updated upstream
%td= project.status
=======
%td= project.status.capitalize
>>>>>>> Stashed changes
