.row.project
  .col-xs-12
    %h2.project-name
      = project.name
      - if project.succeed?
        = " (#{ project.decorate.mean_rating }/#{Rating::MAX})"
  .details.col-md-6
    %div
      %h4= 'Description'
      %p= project.description
    %div
      %h4= 'Goal'
      %p= number_to_currency(project.goal)
    %div
      %h4= 'Currrent funds'
      %p= number_to_currency(project.current_funds)
    %div
      %h4= 'Status'
      %p
        %i{ class: 'status status-' + project.status }
      - if current_user?(project.owner)
        = link_to 'Edit Project', edit_project_path(project), class: 'btn btn-default'
    %div
      %h4= 'Time remaining'
      %div#counter
      :javascript
          $('#counter').countdown(#{@finish_date.to_json})
          .on('update.countdown', function(event) {
            var format = '%H:%M:%S';
            if(event.offset.days > 0) {
              format = '%-d day%!d ' + format;
            }
            if(event.offset.weeks > 0) {
              format = '%-w week%!w ' + format;
            }
          $(this).html(event.strftime(format));
          });

    %div
      %h4= 'Owner'
      %p= project.owner.decorate.full_name
    %canvas#canvas{:height => "300", :width => "450"}
    #placeholder
  .user-input.col-md-6
    .toggle-buttons
      = link_to 'Show Payments','#collapse', class: 'btn btn-default', id: 'payment', "data-toggle" => "collapse", "aria-expanded"=>"false", "aria-controls"=>"collapse"
      = link_to 'Show Comments','#collapse_comments', class: 'btn btn-default', id: 'comment', "data-toggle" => "collapse", "aria-expanded"=>"false", "aria-controls"=>"collapse_comments"
    = render 'project_rating'
    .payments.collapse#collapse
      = render 'project_payments'
    .comments.collapse#collapse_comments
      = render 'project_comments'

:javascript
  window.dataArray = #{raw @daily_payments_values.to_json}
  window.dataArrayAll = #{raw @total_payments_values.to_json}
  window.labelArray = #{raw @daily_payments_labels.to_json}
  window.limit = #{raw @project_goal.to_json}
