<<<<<<< Updated upstream
%h2= project.name
.details
  %div
    %h4= 'Description'
    %p= project.description
  %div
    %h4= 'Goal'
    %p= number_to_currency(project.goal)
  %div
    %h4= 'Currrent funds'
    %p= number_to_currency(project.current_funds)
  %div
    %h4= 'Payments'
    %ul
      - project.payments.each do |payment|
        %li
          %span.value= number_to_currency(payment.value)
          from
          %span.contributor= payment.user.decorate.full_name
          %span.date= "(#{payment.created_at.strftime("%d/%m/%Y")})"
=======
%table.table.table-condensed
  %tbody
    %tr
      %td= "Project name:"
      %td= project.name
    %tr
      %td= "Project description"
      %td= project.description
    %tr
      %td= "Project goal"
      %td= project.goal
    %tr
      %td= "Current funds"
      %td= project.current_funds
    %tr
      %td= "Project status"
      %td= project.status
>>>>>>> Stashed changes
