.row.project
  .col-xs-12
    %h2.project-name
      = project.name
      - if project.succeed?
        = " (#{ project.decorate.mean_rating }/10)"
  .details.col-md-6
    %div
      %h4= 'Description'
      %p= project.description
    %div
      %h4= 'Goal'
      %p= number_to_currency(project.goal)
    %div
      %h4= 'Currrent funds'
      %p= number_to_currency(project.current_funds)
    %div
      %h4= 'Status'
      %p
        %i{ class: 'status status-' + project.status }
      - if current_user?(project.owner)
        = link_to 'Edit Project', edit_project_path(project), class: 'btn btn-default'
    %div
      %h4= 'Time remaining'
      %div#getting-started
      :javascript
          $('#getting-started').countdown(#{@finish_date.to_json}, function(event) {
           $(this).html(event.strftime('%w weeks %d days %H:%M:%S'));
          });
    %div
      %h4= 'Owner'
      %p= project.owner.decorate.full_name
    %canvas#canvas{:height => "300", :width => "450"}
  .user-input.col-md-6
    .payments
      %h4= 'Payments'
      - if project.payments.empty?
        %p= 'Be the first one to pay for this project!'
      - else
        %ul
          - project.payments.each do |payment|
            %li
              = render payment
      - if user_signed_in? && project.active?
        = link_to 'Add Payment', new_project_payment_path(project), class: 'btn btn-default'
    .comments
      %h4= 'Comments'
      - if project.comments.empty?
        %p= 'Be the first one to comment on this project!'
      - else
        - project.comments.each do |comment|
          = render comment
      - if user_signed_in?
        %h5= 'Add Comment'
        = render 'comments/form', comment: project.comments.new, project: project



:javascript
  window.dataArray = #{raw @daily_payments_values.to_json}
  window.dataArrayAll = #{raw @total_payments_values.to_json}
  window.labelArray = #{raw @daily_payments_labels.to_json}
  window.limit = #{raw @project_goal.to_json}
