%h2= project.name
.details
  %div
    %h4= 'Description'
    %p= project.description
  %div
    %h4= 'Goal'
    %p= cents_to_dollars(project.goal)
  %div
    %h4= 'Currrent funds'
    %p= cents_to_dollars(project.current_funds)
  %div
    %h4= 'Status'
    %p= project.status
  %div
    %h4= 'Payments'
    %ul
      - project.payments.each do |payment|
        %li
          %span.value= cents_to_dollars(payment.value)
          from
          %span.contributor= payment.user.decorate.full_name
          %span.date= "(#{payment.created_at.strftime("%d/%m/%Y")})"
    - if user_signed_in?
      = link_to 'Add Payment', new_project_payment_path(project), class: 'btn btn-default'
