.row.project
  .col-xs-12
    %h2.project-name= project.name
  .details.col-md-6
    %div
      %h4= 'Description'
      %p= project.description
    %div
      %h4= 'Goal'
      %p= number_to_currency(project.goal)
    %div
      %h4= 'Currrent funds'
      %p= number_to_currency(project.current_funds)
    %div
      %h4= 'Status'
      %p= project.status.capitalize
      - if current_user == project.owner
        = link_to 'Edit Project', edit_project_path(project), class: 'btn btn-default'
    %div
      %h4= 'Owner'
      %p= project.owner.decorate.full_name
  .user-input.col-md-6
    .payments
      %h4= 'Payments'
      - if project.payments.empty?
        %p= 'Be the first one to pay for this project!'
      - else
        %ul
          - project.payments.each do |payment|
            %li
              = render payment
      - if user_signed_in? && project.active?
        = link_to 'Add Payment', new_project_payment_path(project), class: 'btn btn-default'
    .comments
      %h4= 'Comments'
      - if project.comments.empty?
        %p= 'Be the first one to comment on this project!'
      - else
        - project.comments.each do |comment|
          = render comment
      - if user_signed_in?
        %h5= 'Add Comment'
        = render 'comments/form', comment: project.comments.new, project: project
