.admin-user-form
  %h3 Update user
  = simple_form_for(user, url: admin_user_path(user), method: :put,  html: { class: 'form-horizontal' }) do |f|
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :occupation
    = f.input :country
    = f.association :roles,  as: :check_boxes
    = f.button :submit, class: 'btn btn-success'