%li= link_to 'All Projects', root_path
- if user_signed_in?
  %li
    = link_to user_path(current_user) do
      = 'Show account'
      %span.glyphicon.glyphicon-user
  %li
    = link_to destroy_user_session_path, :method=>'delete' do
      = 'Sign out'
      %span.glyphion.glyphicon-log-out
- else
  %li
    = link_to new_user_session_path do
      = 'Sign In'
      %span.glyphicon.glyphicon-log-in
  %li
    = link_to new_user_registration_path do
      = 'Sign up'
      %span.glyphicon.glyphicon-user
